{% extends 'htmltemp/re_use_temp.html' %}
{% load customfilters %}
{% load static %}

{% block title %} Tenders {% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<section class="tenders-section">
    <div class="container">
        <div>
            <div class="row align-items-start">
                <div class="col-12 col-lg-8">
                    <div class="discip-top-d">
                        <h4 class="tenders-heading-lbl-d">Tenders By Region/Country</h4>
                        <div class="discip-top-d1">
                            <p>Tendersontime follows ISO-3166 to classify the countries and geographical regions or the continents. International tenders from all these regions are collected from different primary sources like: Daily newspapers, purchaser's website, tender board websites, and public procurement regulatory authorities. Tendersontime covers all three types of procurement categories viz: Supply tenders or Goods tenders, Works tenders and Service tenders (this also includes consultancy tenders). Register to get a Free Trial of one week.</p>
                        </div>
                    </div>
                    <div id="Datalisting">
                        {% if posts %}
                            {% for post in posts.object_list %}
                                <div class="data-listing-card">
                                    <div class="data-listing-card-coun-d"><label>Country: {{post.Country_Name}}</label></div>
                                    <h4 class="data-list-tender-title">{{post.short_descp}}</h4>
                                    <div class="row">
                                        <div class="col-6 col-md-4 data-listing-card-ref-d">
                                            <h5>TOT Ref No: {{ post.id }}</h5>
                                        </div>
                                        <div class="col-6 col-md-5 data-listing-card-amt-d">
                                            <h5>Amount: {{ post.contract_val }} {{ post.contract_currency }}</h5>
                                        </div>
                                        <div class="col-12 col-md-3 data-listing-card-btn-d">
                                            <a href="http://127.0.0.1:8000/ContractAward/contract-award-detail/{{ post.short_descp|custom_url:post.id }}" class="data-view-btn" title="{{post.short_descp}}">view details</a>
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                        {% else %}
                            <h3>No Data Found</h3>
                        {%endif%}
                    </div>
                    <div class="container p-4">
                        <div class="pagination justify-content-center">
                            {% if posts.has_previous %}
                                <li class="pagination-prev-next"><a href="?page={{ posts.previous_page_number }}">Pre</a></li>
                            {% else %}
                                <li class="pagination-prev-next disabled"><span>Pre</span></li>
                            {% endif %}

                            {% if posts.number|add:'-2' > 1 %}
                                <li class="pagination-lis"><a class="" href="?page={{ posts.number|add:'-3' }}">&hellip;</a></li>
                            {% endif %}

                            {% for i in posts.paginator.page_range %}
                                {% if posts.number == i %}
                                    <li class="pagination-lis li-active"><span class="">{{ i }}<span class="sr-only">(current)</span></span></li>
                                {% elif i > posts.number|add:'-3' and i < posts.number|add:'3' %}
                                    <li class="pagination-lis "><a class="" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                            {% if posts.paginator.num_pages > posts.number|add:'2' %}
                                <li class="pagination-lis"><a class="" href="?page={{ posts.number|add:'3' }}">&hellip;</a></li>
                            {% endif %}

                            {% if posts.has_next %}
                                <li class="pagination-prev-next"><a href="?page={{ posts.next_page_number }}">Next</a></li>
                            {% else %}
                                <li class="pagination-prev-next disabled"><span>Next</span></li>
                            {% endif %}
                        </div>
                      </div>
                    
                </div>
                <div class="col-12 col-lg-4">
                    <div class="td-filter-main">
                        <div class="td-filter-header"><label>Search By Region</label></div>
                        <div class="td-filter-regions">
                            <ul id="treeUL">
                                {% for region_dic in "region"|fetch_region_data:"region" %}
                                    <li class="treeli">
                                        <span class="rootTree rootmain"></span>
                                        <a href="http://127.0.0.1:8000/ContractAward/region/{{ region_dic.region_name|regions_url_pattern }}">{{region_dic.region_name}}</a>
                                        <ul class="children">
                                            {% for sub_region_dic in region_dic.region_name|fetch_region_data:"sub_region_name&region_name" %} <!-- custom templete funtion fucntion -->
                                                {% if sub_region_dic.sub_region_name != "" %}
                                                    <li class="treeli">
                                                        <span class="rootTree rootsub"></span>
                                                        <a href="http://127.0.0.1:8000/ContractAward/sub-region/{{ sub_region_dic.sub_region_name|regions_url_pattern }}">{{sub_region_dic.sub_region_name}}</a>
                                                        <ul class="children">
                                                            {% for country in sub_region_dic.sub_region_name|fetch_region_data:"country_name&sub_region_name" %}
                                                            <li class="treeli child-li"><a href="http://127.0.0.1:8000/ContractAward/country/{{ country.country_name|regions_url_pattern }}">{{country.country_name|title}}</a></li> <!-- title is django captilize fucntion -->
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    var toggler = document.querySelectorAll(".rootTree");
    Array.from(toggler).forEach(item => {
        item.addEventListener("click", () => {
            item.parentElement
            .querySelector(".children")
            .classList.toggle("active");
            item.classList.toggle("rootTree-down");
        });
    });
</script>

{% endblock %}